{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/description.css">
{% endblock %}
{% block content %}
	<body>
		<h1 class="m-5">{{event.name}}</h1>
		<main class="container d-flex">
			<div class="info">
				<h2>Date</h2>
				<p>
					{{event.date}}</p>
				<h2>Adresse</h2>
				<p>
					{{event.address}}</p>
			</div>

			<div class="description ms-5">
				<h2>Description</h2>
				<p>
					{{event.description}}</p>
			</div>

		</main>
		<div class="container d-flex flex-wrap">
			{% for image in images %}
				<img src="{{ '/' ~ constant('UPLOAD_PATH') ~ '/' ~ image['image'] }}" class="m-4" width="360px" height="350px">
			{% endfor %}
		</div>
	</body>
{% endblock %}
