{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Evenements</h1>
	<h2>A Venir</h2>
	<div class="container-fluid d-flex justify-content-center gap-5">
		{% for event in events %}

			<div class="card" style="width: 20rem;">
				<h3>{{event.name}}</h3>
				<img class="card" src={% if events.image_link is not empty %} "assets/images/{{event.image_link}}" {% else %} "assets/images/{{event.image_link}}" {% endif %} alt="Card image cap">
				<p>
					{{event.description}}
				</p>
				<p>
					{{event.date|date("m/d/Y")}}
				</p>
				<p>
					{{event.address}}
				</p>
				<button class="btn btn-primary fw-bold">Voir</button>
			</div>
		{% endfor %}
	</div>
{% endblock %}
