{% if errors is not empty %}
	<div class="d-flex flex-column align-items-center col-4 mt-2  w-100">
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

<form method="post" class="card d-flex flex-column w-50 m-auto p-2">
	<input type="hidden" value="{{ event.id }}" name="id">
	<label for="name">Nom</label>
	<input type="text" value="{{ event.name }}" name="name" id="name">
	<label for="name">Date</label>
	<input type="name" value="{{ event.date }}" name="date" id="date">
	<label for="name">Description</label>
	<input type="text" value="{{ event.description }}" name="description" id="description">
	<label for="name">Adresse</label>
	<input type="text" value="{{ event.address }}" name="address" id="address">
	<label for="name">Image</label>
	<input type="text" value="{{ event.image_link }}" name="image_link" id="image_link">


	<button class="btn w-25 my-2 align-self-center">Envoi</button>
</form>
{% block footer %}{% endblock %}
