{% if errors is not empty %}
	<div class="d-flex flex-column align-items-center col-4 mt-2  w-100">
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

<form method="post" enctype="multipart/form-data" class="container-fluid d-flex flex-column w-50 m-auto p-2">
	<input type="hidden" class="form-control" value="{{ event.id }}" name="id">
	<label for="name"class="form-label">Nom</label>
	<input type="text"class="form-control" value="{{ event.name }}" name="name" id="name">
	<label for="name"class="form-label">Date</label>
	<input type="date"class="form-control" value="{{ event.date }}" name="date" id="date">
	<label for="name"class="form-label">Description</label>
	<input type="textarea"class="form-control" value="{{ event.description }}" name="description" id="description">
	<label for="name"class="form-label">Adresse</label>
	<input type="text"class="form-control" value="{{ event.address }}" name="address" id="address">


	<label class="form-label mt-4" for="image_link">Image pour l'événement</label>
	<input type="file" name="image_link" id="image_link"/>

<!--
	<label class="form-label mt-4" for="image_link">D'autres Images pour l'événement</label>
	<input type="file" name="image_urls[]" multiple id="image_url"/>
	-->
	<button class="btn-primary my-2 align-self-center">Envoi</button>
</form>
{% block footer %}{% endblock %}
