{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/adminevent.css">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
	<main>
	
		<h1 class="m-5 text-center">Détail du évènement</h1>
		<div class="card col-lg-6 mx-auto">
			<div class="d-flex flex-column align-items-center col-4 mt-2  w-100">
				<p class="fs-5">Nom : {{ event.name }}</p>
				<p class="fs-5">Date : {{ event.date }}</p>
                <p class="fs-5">Description : {{ event.description }}</p>
				<p class="fs-5">Address : {{ event.address }}</p>
                <p class="fs-5">Image : {{ event.image_link }}</p>
			</div>
			<div class="d-flex justify-content-center m-3">
				<button class="btn"><a class="text-decoration-none" href="/admin/evenements/edit?id={{ event.id }}">Modifier</a></button>
				<form class="mx-5" action="/admin/evenements" method="POST">
					<input type="hidden" name="id" value="{{ event.id }}">
					<button class="btn disabled">Supprimer</button>
				</form>
				<button class="btn"><a class="text-decoration-none" href="/admin/evenements/">Retour à la liste des evenements</a></button>
			</div>
		</div>
	</main>
{% endblock %}
{% block footer %}{% endblock %}
