{% extends 'layout_admin.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/styleAdmin.css">
{% endblock %}

{% block content %}
	<main class="container">
		<h1 class=" d-flex justify-content-center m-5">Admin Événements</h1>
		<table class="table table-hover">
			<tbody>
				
					<tr>
						<th>Nom</th>
						<th>Date</th>
						<th>Lieu</th>
					</tr>
					{% for event in events %}
					<tr>
						<td class="align-middle">{{ event.name }}</td>
						<td class="align-middle">{{ event.date }}</td>
						<td class="align-middle">{{ event.address }}</td>
						<td><a class="text-decoration-none btn my-1" href="/admin/evenements/edit?id={{ event.id }}">Modifier</a></td>
						<td><form action="/admin/evenements/supprimer" method="POST" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet événement ?')">
							<input type="hidden" name="id" value="{{ event.id }}">
							<button class="btn my-1">Supprimer</button>
						</form></td>
					</tr>
				{% endfor %}
			</tbody>

		</table>
	</main>
{% endblock %}
{% block footer %}{% endblock %}
