{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block content %}

	<main class="container">


		<section class="contact">

			<h2 class="title text-center lacetitle">Contact</h2>
			{% if errors is not empty %}
			<div class="alert alert-danger mt-5 w-50 position-relative start-25" role="alert">
				<ul>
					{% for error in errors %}
						<li>
							{{ error }}
						</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}

			<div class="row m-5 align-items-start">
				<div class="col-md-6">
					<img src="/assets/images/image-contact.jpg" class="w-100 mb-4" alt="bretonnes">
				</div>
				<form method="post" class="col-md-6 d-flex flex-column">

					<div class="">
						<label for="lastname" class="form-label">Nom</label>
						<input type="lastname" class="form-control" value="{{ contact.lastname }}" name="lastname" id="lastname" aria-describedby="" placeholder="Gallouedec">
					</div>
					<div class="mt-3">
						<label for="firstname" class="form-label">Prénom</label>
						<input type="firstname" class="form-control" value="{{ contact.firstname }}" name="firstname" id="firstname" aria-describedby="" placeholder="Titouan">
					</div>
					<div class="mt-3">
						<label for="email" class="form-label">Email</label>
						<input type="email" class="form-control" value="{{ contact.email }}" name="email" id="email" aria-describedby="" placeholder="tipiak@email.com">
					</div>
					<div class="mt-3">
						<label for="message" class="form-label">Message</label>
						<textarea type="message" class="form-control" value="{{ contact.message }}" name="message" placeholder="Message" id="message"></textarea>
					</div>

					<button type="submit" class="btn btn-primary mt-3 w-50 align-self-center">Envoyer</button>
				</form>
			</div>
		</section>
	</main>
{% endblock %}
