{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/adminmember.css">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
	<main>
		<h1 class="m-5 text-center">Détail du membre</h1>
		<div class="card col-lg-6 mx-auto">
			<div class="d-flex flex-column align-items-center col-4 mt-2  w-100">
				<p class="fs-5">Nom : {{ member.name }}</p>
				<p class="fs-6">Statut : {{ member.status }}</p>
                <img class="m-2" src="/assets/images/
							{% if member.photo_link %}
								{{ member.photo_link }}
							{% else %}
								{{ 'portrait-placeholder.png' }}" 
							{% endif %} alt="{{ member.name }}" width="100px" height="100px">
			</div>
			<div class="d-flex justify-content-center m-3">
				<button class="btn"><a class="text-decoration-none" href="/admin/membres/modifier?id={{ member.id }}">Modifier</a></button>
				<form class="mx-5" action="/admin/membres/modifier" method="POST">
					<input type="hidden" name="id" value="{{ member.id }}">
					<button class="btn">Supprimer</button>
				</form>
				<button class="btn"><a class="text-decoration-none" href="/admin/membres/">Retour à la liste des membres</a></button>
			</div>
		</div>
	</main>
{% endblock %}

{% block footer %}{% endblock %}
